<?php
$CONFIG = array (
  'instanceid' => 'oc0m272an15i',
  'passwordsalt' => 'jODWgZfYxJSam9gaqnGMMiY+T6EoVC',
  'secret' => '+Ra7uxoqy2Haq2bahwq45Y2Lfp7fBREbksXhZKdK4f5dNwqZ',
  'trusted_domains' =>
  array (
    0 => 'localhost',
    1 => '192.168.122.1',
    2 => '192.168.122.183',
    3 => '192.168.200.21',
    4 => '{{ web_vip }}',
  ),
  'datadirectory' => '/var/www/html/nextcloud/data',
  'overwrite.cli.url' => 'http://localhost',
  'dbtype' => 'mysql',
  'version' => '13.0.0.1',
  'dbname' => 'nextcloud',
  'dbhost' => '{{ bdd01_ip }}',
  'dbport' => '3306',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => 'nextcloud',
  'dbpassword' => 'nextCloud',
  'installed' => true,
);
